<!doctype html>
<html>

<head>
  <title>About Recipe Buddy
  </title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div class="topnav">
    <a class="active" href="./">Home</a>
    <a href="addfood">Add Food</a>
    <a href="listfood">List Food</a>
    <a href="search">Search</a>
    <a href="about">About Us</a>
    <a href="api">API</a>
    <a href="register">Register</a>
    <a href="login">Login</a>
    <a href="logout">Logout</a>
  </div> 
  <h1>About Recipe Buddy
  </h1>
  <p>  This application was built by Zahir and shows recipes and calories</p>
</body>

</html>