<!doctype html>
<html>

<head>
  <title>Welcome to Recipebuddy
  </title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div class="topnav">
    <a class="active" href="./">Home</a>
    <a href="addfood">Add Food</a>
    <a href="updatefood">Update Food</a>
    <a href="listfood">List Food</a>
    <a href="search">Search</a>
    <a href="about">About Us</a>
    <a href="api">API</a>
    <a href="register">Register</a>
    <a href="login">Login</a>
    <a href="logout">Logout</a>
  </div> 
  <%=carbssum%>

</body>


</html>