<!doctype html>
<html>

<head>
  <title>Search Recipe Buddy
  </title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div class="topnav">
    <a class="active" href="./">Home</a>
    <a href="addfood">Add Food</a>
    <a href="listfood">List Food</a>
    <a href="search">Search</a>
    <a href="about">About Us</a>
    <a href="api">API</a>
    <a href="register">Register</a>
    <a href="login">Login</a>
    <a href="logout">Logout</a>
  </div> 

  <h1>Search Recipe Buddy
  </h1>
  <form action="/search-result" method="GET">
    <p>What food do you want?</p>
    <input id="search-box" type="text" name="keyword" value="Default">
    <input type="submit" value="Search">
  </form>
</body>

</html>